.ld-card{
    width: 200px;
    height: 200px;
    background-color: bisque;

    >.title{
        color: red;
    }

    >.box{
        width: 50px;
        height: 50px;
        background-color: blue;
    }
}

.ld-button{
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 3px;

    &.-danger{
        color: red;
        border-color: red;
    }

    &.-warning{
        color: rgb(255, 238, 0);;
        border-color: rgb(255, 238, 0);;
    }
}
